# Created by .ignore support plugin (hsz.mobi)
### Java template
# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gitignore
log/
src/main/resources/sousetsuka-testchapter8.html
/out/
/enterprise.db
/TestData/
/src/test/
ebooks/
/img/
scrapeProcess.uxf
src/main/resources/test.html
src/main/resources/tocSchema.xsd
src/main/resources/xsi.xsd
tocFile.txt
enterprise - copy.db
src/main/java/enterprise/test/
/.idea/
/target/
gorgon.log.lck
src/main/java/scrape/sources/anime/
src/main/java/scrape/sources/manga/
/enterpriseHibernate.db
