<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">enterprise.data.dataAccess.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.url">jdbc:sqlite:enterprise.db</property>
        <property name="connection.autocommit">false</property>
        <!--<property name="hibernate.show_sql">false</property>-->
        
        <mapping resource="/hibernate/enterprise.hbm.xml"/>
        <mapping resource="/hibernate/scrape.hbm.xml"/>
        <mapping resource="/hibernate/data.hbm.xml"/>
    </session-factory>
</hibernate-configuration>